ul {
    margin: 0;
    padding: 0;
}
li.task {
    color: #162741;
    background-color: #E8F3F6;
    list-style-type: none;
    padding: 1em;
    margin: 0.6em auto;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #213D63;
    width: 70%;
}
li.task h4 {
    padding: 0.4em;
}
li.task:hover {
    background-color: #c8e3e9;
    transition: 0.4s;
}